* {
  margin: 0; padding: 0; border: 0; outline: 0;
}

body {
  /*font-family: "Times New Roman", Times, serif;*/
	font-family: Helvetica, Arial, Verdana, sans-serif; 
  font-weight: 340;
  /*background: #eaeae4;*/
  font-size: 15px;
  line-height: 1.4;
  background: #a2a2a2;
}

h1 {
  font-size: 18px; 
  /*font-weight: bold; */
  /*font-weight: normal; */
  font-weight: 340;
  /*font-style: italic;*/
  margin: 32px 0 4px 0; 
  /*color: #4E78BC;*/
}
p { margin-top: 13px; }
a { 
  text-decoration: none; 
  color: #c7137c;
  /*color: #0053a6;*/
}
a:hover { text-decoration: underline; }

hr.thin {
  float: left;
  height: 1px;
  border: 0;
  /*color: #444444;*/
  background-color: #DCDCDC;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 16px;
} 

.pre-post {
  height: 70px;
}

#container {
  width: 800px;
  /*min-width: 600px;*/
  z-index: 10;
  position: relative;
  margin: 0 auto;
	padding: 0;
}

#header-wrapper {
  /*background: #eaeae4;*/
}

#header {
	width: 900px;
	height: 55px;
	/*z-index: 1000;*/
  padding: 20px 70px 0px 70px;
  margin: 0 auto;
  background: #f8f8f8;
}
#header-line {
  height: 1px;
  background: #a2a2a3;
}

#topbar {
  height: 8px;
  background-color: #000;
  margin: 0 0 20px 0;
}

/*p#title { float: left; margin: 4px 0 4px 0; }*/

ul#nav {
  float: left;
  list-style: none;
  overflow: hidden;
  /*margin: 4px 0 4px 0;*/
  margin-top: 10px;
}
ul#nav li { float: left; margin: 0 10px 0 10px; }
/*ul#nav li:nth-child(1) { margin: 0 30px 0 0; }
ul#nav li:nth-child(2) { margin: 0 30px 0 0; }
ul#nav li:nth-child(3) { margin: 0 30px 0 0; }
ul#nav li:nth-child(4) { margin: 0; }*/

/* Active menu entry */
.active {
	color: #000;
}



#title .name {
  float: left; 
  font-size: 23px;
  font-weight: normal; 
  /*color: #3E64A3;*/
  color: #777;
  padding-right:20px;
}

a.name-link:hover { 
  text-decoration: none;
}

#title .name-chn {
  font-family: STKaiti, KaiTi;
  font-size: 25px;
  font-weight: bold; 
  /*color: #527bbd;*/
}

#title img {
  float: left; 
  display: block
  height: 29px; 
  padding-left: 0px; 
  padding-top: 12px; 
}

#strat-icon {
  float: right;
  padding-left: 5px;
}

#content {
  width: 900px;
  background: white;
  margin: 0 auto;
  padding: 50px 70px 50px 70px;
}

#description {
  /*padding-top: 5px;*/
  /*padding-left: 30px;*/
  padding-bottom: 40px;
  /*height: 300px;*/
  /*text-align: right;*/
  /*float: right;*/
}

#description img {
  /*float: left;*/
  display: block;
  height: 200px;
  /*float: left;*/
}

#description #pers-info {
  font-family: "Times New Roman", Times, serif;
  font-style: normal; 
  font-size: 17px;
  font-weight: 340;
  /*float: left; */
  padding-top: 10px; 
  padding-left: 0px; 
  display: block;
}

.section {
/*	width: 100%;
	z-index: 10;
	position: relative;*/
}

.inner {
/*	position: relative;
	padding: 2px 0;*/
}

.clear {
	clear: both;
}

/* Sections */

.sAnnouncement ul {
  padding-left: 15px;
  font-weight: normal;
}

.sAnnouncement li {
  padding-top: 10px;
}

.sAnnouncement a {
  font-weight: 340;
}

.sAbout {
  top: 56px;
	/*background: #E8E9E9;*/
}

.sPublications {
	/*background: #E8E9E9;*/
}

#bottombar {
  height: 8px;
  background-color: #000;
  margin: 24px 0 0 0;
}

.sPubItem {
  clear: both;
  padding-top: 25px;
}

.sPubItem ul {
  padding-left: 20px;
}

.sPubItem li {
  clear: both;
  padding-bottom: 20px;
}

.sPubSumItem {
  clear: both;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sPubSum {
  padding-left: 20px;
  color: #606060;
  /*font-size: 13px;*/
  float: none;
}

.sPubText {
  width: 750px;
  float: right;
  padding-left: 10px;
  line-height: 1.6;
}

.sPubTextCmt {
  width: 750px;
  float: right;
  margin-top: 5px;
  padding-left: 10px;
  /*line-height: 1.6;*/
  color: gray;
  font-style: italic;
}

.sPubImg {
  width: 110px;
  float: left;
  /*padding-bottom: 20px;*/
}

.sPubImg img {
  width: 100px;
}

span .asterisk {
  color: #888888;
}
