* {
  margin: 0; padding: 0; border: 0; outline: 0;
}

body {
  /*font-family: "Times New Roman", Times, serif;*/
	font-family: Helvetica, Arial, Verdana, sans-serif; 
  /*font-family: Consolas, Monaco, monospace;*/
  /*font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif;*/
  /*font-family: Arial, sans-serif;*/
  /*font-family: Georgia, serif;*/
	/*background-color:#E8E9E9;*/
  background: white;
  font-size: 15px;
  line-height: 1.4;
}

h1 {
  /*font-family: Helvetica, Arial, Verdana, sans-serif; */
  /*font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif;*/
  font-size: 18px; 
  /*font-weight: bold; */
  font-weight: normal; 
  /*font-weight: normal; */
  /*font-style: italic;*/
  margin: 32px 0 4px 0; 
  color: #527bbd;
}
p { margin-top: 13px; }
a { 
  text-decoration: none; 
  /*color: #0799AD;*/
  color: #c7137c;
}
a:hover { text-decoration: underline; }

hr.thin {
  float: left;
  height: 1px;
  border: 0;
  /*color: #444444;*/
  background-color: #DCDCDC;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 16px;
} 

#container {
  /*width: 100%;*/
  width: 800px;
  /*min-width: 600px;*/
  z-index: 10;
  position: relative;
  margin: 0 auto;
	padding: 0;
}

#header {
	/*position: absolute;*/
	height: 56px;
	z-index: 1000;
	width: 100%;
/*	max-width: 888px;
	min-width: 600px;*/
	/*background: #E8E9E9;*/
  padding-top: 40px;
}

#topbar {
  height: 8px;
  background-color: #000;
  margin: 0 0 20px 0;
}

/*p#title { float: left; margin: 4px 0 4px 0; }*/

ul#nav {
  float: right;
  list-style: none;
  overflow: hidden;
  margin: 4px 0 4px 0;
}
ul#nav li { float: left; margin: 0 10px 0 10px; }
/*ul#nav li:nth-child(1) { margin: 0 30px 0 0; }
ul#nav li:nth-child(2) { margin: 0 30px 0 0; }
ul#nav li:nth-child(3) { margin: 0 30px 0 0; }
ul#nav li:nth-child(4) { margin: 0; }*/

/* Active menu entry */
.active {
	color: #000;
}



#title .name {
  /*font-family: Helvetica, Arial, Verdana, sans-serif; */
  /*font-family: "Times New Roman", Times, serif;*/
  /*font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif;*/
  float: left; 
  font-size: 23px;
  font-weight: bold; 
  color: #303030;
}

#title .name-chn {
  /*font-family: Helvetica, Arial, Verdana, sans-serif; */
  /*font-family: "Times New Roman", Times, serif;*/
  /*font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif;*/
  font-family: STKaiti;
  float: left; 
  font-size: 25px;
  font-weight: bold; 
  /*color: #527bbd;*/
}

#title img {
  float: left; 
  display: block
  height: 29px; 
  padding-left: 0px; 
  padding-top: 12px; 
}

#description {
  /*padding-top: 5px;*/
  padding-left: 30px;
  height: 300px;
  /*text-align: right;*/
  float: right;
}

#description #img-div {
  /*height: 100px;*/
  /*float: left;*/
}

#description img {
  /*float: left;*/
  display: block;
  /*height: 100px;*/
}

#description #pers-info {
  font-family: "Times New Roman", Times, serif;
  font-style: italic; 
  font-size: 15px;
  /*float: left; */
  padding-top: 3px; 
  /*padding-left: 20px; */
  /*padding-right: 30px*/
}

.section {
/*	width: 100%;
	z-index: 10;
	position: relative;*/
}

.inner {
/*	position: relative;
	padding: 2px 0;*/
}

.clear {
	clear: both;
}

/* Sections */

.sAbout {
  top: 56px;
	/*background: #E8E9E9;*/
}

.sPublications {
	/*background: #E8E9E9;*/
}

#bottombar {
  height: 8px;
  background-color: #000;
  margin: 24px 0 0 0;
}

.sPubItem {
  clear: both;
  padding-top: 25px;
}

.sPubItem ul {
  padding-left: 20px;
}

.sPubItem li {
  clear: both;
  padding-bottom: 20px;
}

.sPubSumItem {
  clear: both;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sPubSum {
  padding-left: 20px;
  color: #606060;
  /*font-size: 13px;*/
  float: none;
}

.sPubText {
  width: 680px;
  float: right;
  padding-left: 10px;
  line-height: 1.6;
}

.sPubImg {
  width: 110px;
  float: left;
  /*padding-bottom: 20px;*/
}

.sPubImg img {
  width: 100px;
}
